# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/
alembic/versions/__pycache__/
LOCAL_TEST_ACCOUNTS.md
